
.searchpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); 
  margin-left: 220px; 
  text-decoration: none;
}

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
  }
  
  .search-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .search-container {
    width: 100%;
    max-width: 800px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    color: var(--text-color);
  }

  
  .search-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 30px;
    color: white;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 12px 16px;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px 0 0 4px;
    outline: none;
    color: white;
  }
  
  .search-button {
    padding: 12px 16px;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .search-button:hover {
    background-color: var(--button-hover);
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    fill: var(--text-color);
  }
  
  .search-results {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .search-result-item {
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 16px;
  }
  
  .post-image {
    width: 100%;        /* Set the width to 100% of the parent container */
    max-width: 400px;  /* Set a fixed max width */
    height: auto;      /* Maintain aspect ratio */
    object-fit: cover; /* Optional: cover the area while preserving aspect ratio */
  }
  .search-result-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .search-result-item p {
    margin: 0;
    font-size: 1rem;
  }
  .filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 15px 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
.date-filter select {
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #444445;
  background-color: #ffffff00;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23343a40' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 0 0 .293 4.707l5 5a1 1 0 0 0 1.414 0l5-5a1 1 0 1 0-1.414-1.414z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 30px;
}

.date-filter select:hover {
  border-color: #6c757d;
}

.date-filter select:focus {
  outline: none;
  border-color: #606467;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
  .platform-selection {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 600px) {
    .search-title {
      font-size: 2rem;
    }
  
    .search-input,
    .search-button {
      font-size: 0.9rem;
    }
  }



.search-input-container {
  display: flex;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.search-input {
  flex-grow: 1;
  padding: 12px 16px;
  font-size: 16px;
  outline: none;

}

.search-input:focus {
  border-color: #b0ccf1;
}

.search-button {
  background-color: #b0ccf1;
  color: rgb(20, 20, 20);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ffffff;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.platform-filters {
  display: flex;
  gap: 10px;
}
.searchpost-platform{
  display: inline-block; /* Makes the label fit its content */
  font-weight: bold;     /* Makes the text bold */
  font-size: 1rem;      /* Adjust font size as needed */
  color: #000000;          /* Text color */
  margin-bottom: 5px;   /* Space below the label */
  text-transform: uppercase; /* Makes the text uppercase */
  letter-spacing: 0.5px; 
  text-align: left;
}
.platform-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;

  border-radius: 20px;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
  transition: all 0.3s ease;
}

.platform-button.selected {
  background-color: #b0ccf1;
  color: white;
}

.platform-name {
  font-size: 14px;
}

.date-filter-container {
  position: relative;
}

.date-filter {
  appearance: none;
  padding: 8px 32px 8px 12px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #696969;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
  margin-left: 10px;
}

.date-filter:focus {
  border-color: #ffffff;
}

.date-filter-container::after {
  content: '▼';
  font-size: 12px;
  color: #666;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.specific-date-input,
.specific-month-input {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #444445;
  background-color: #ffffff00;
  font-size: 14px;
  color: var(--text-color);
  transition: border-color 0.3s ease;
  appearance: none;
  outline: none;
}

.specific-date-input:hover,
.specific-month-input:hover {
  border-color: #6c757d;
}

.specific-date-input:focus,
.specific-month-input:focus {
  border-color: #606467;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.search-results-container {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #f7f7f8;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}


.post-card {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.post-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-message {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.post-date {
  font-size: 14px;
  color: #666;
}

.no-results {
  text-align: center;
  color: #666;
  font-style: italic;
}

.loader {
  text-align: center;
  font-size: 18px;
  color: #10a37f;
  margin: 2rem 0;
}

.error-message {
  text-align: center;
  color: #e53e3e;
  margin: 2rem 0;
}


.delete-button {
  background-color: #dc3545;
  color: white;
  margin-right: 8px;
}

.delete-button:hover {
  background-color: #c82333;
}

.edit-button {
  background-color: #007bff;
  color: white;
}

.edit-button:hover {
  background-color: #0056b3;
}


/* Search bar */
.search-input{
  flex: 1;
  padding: 8px;
  border-radius: 50px 50px 50px 50px;
  color: white ;

}

.search-controls {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  flex-grow: 1;
  padding: 12px 16px;
  font-size: 16px;
  border-right: none;
  border-radius: 50px 50px 50px 50px;
  transition: border-color 0.3s ease;
  
  }


.search-button, .filter-button, .search-filter-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.search-button:hover, .filter-button:hover, .search-filter-button:hover {
  background-color: #0056b3;
}


/* File: src/components/Dashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); 
  margin-left: 220px; 
  text-decoration: none;
}
/* Main Dashboard Layout */
.dashboard {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 2em 2em; 
  grid-template-areas: 
      "facebook instagram threads"
      "facebook instagram threads"
      "facebook instagram threads"; 
  }
  .facebook { grid-area: facebook; }
  .instagram { grid-area: instagram; }
  .threads { grid-area: threads; }

/* Common Styles for Post Containers */
.facebook, .instagram, .threads {
  border: 1px solid #ccc;
  padding: 70px 150px 70px; /* The size of the container the middle one is the weight*/
  border-radius: 10px;
  background-color: #f9f9f9;
  color: black; /* Make sure text is black */
  height: fit-content; /* Ensure posts fit the container size */
}

/* Facebook-specific styles */
/* DashboardSocialMeida.css */

.facebook {
background-color: #f0f2f5;
padding: 20px;
font-family: Arial, sans-serif;
}

.search-results-container, .posts-container {
max-width: 600px;
margin: 0 auto;
background: white;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
padding: 20px;
}

.loader {
text-align: center;
font-size: 18px;
color: #007bff;
}

.error-message {
color: red;
text-align: center;
margin-bottom: 15px;
}

.no-results {
text-align: center;
font-size: 16px;
color: #555;
}

.post-card {
border-bottom: 1px solid #e9ebee;
padding: 15px 0;
}

.post-card:hover {
  transform: scale(1.02);
  }
  
.post-message {
font-size: 16px;
line-height: 1.5;
color: #141823;
}

.post-image {
max-width: 100%;
height: auto;
border-radius: 8px;
margin: 10px 0;
}

.post-date {
font-size: 12px;
color: #606770;
margin: 5px 0;
}

.comments-section {
margin-top: 10px;
padding-left: 20px;
border-left: 2px solid #e9ebee;
}

.comment {
font-size: 14px;
color: #1c1e21;
margin: 5px 0;
}

.comment p {
display: inline;
margin: 0;
}

.comment:before {
content: '• '; /* Bullet before each comment */
color: #606770;
}
/* Instagram-specific styles */
.instagram {
  background-color: #fafafa; /* Instagram's light gray background */
  padding: 20px;
}


.gallery-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #262626;
}

.gallery {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.image-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  margin-bottom: 40px;
}

.image-card:hover {
  transform: scale(1.02);
}

.image-card img {
  width: 100%;
  height: auto;
  display: block;
}

.image-caption {
  font-size: 14px;
  color: #262626;
  margin: 10px;
}

.post-date {
  font-size: 12px;
  color: #999;
  margin: 0 10px 10px;
}


.instagram-post {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.instagram .post-header {
  font-size: 0.9rem;
  color: black; /* Ensure text is black */
  margin-bottom: 5px;
}

.instagram .post-footer {
  font-size: 0.8rem;
  color: gray;
  margin-top: 10px;
}

.instagram-post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ThreadsPosts.css */

.threads {
background-color: #fafafa; /* Light gray background */
padding: 20px;
}

.gallery-title {
font-size: 2rem;
font-weight: bold;
text-align: center;
margin-bottom: 20px;
color: #262626;
}

.posts-container {
padding: 10%;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 15px;
}

.image-card {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
overflow: hidden;
transition: transform 0.3s;
}

.image-card:hover {
transform: scale(1.02);
}

.image-card img {
width: 100%;
height: auto;
display: block;
}

.image-caption {
font-size: 14px;
color: #262626;
margin: 10px;
}

.post-date {
font-size: 12px;
color: #999;
margin: 0 10px 10px;
}

.loader {
text-align: center; /* Center the loader text */
font-size: 1.2em; /* Larger font size for loader */
color: #007bff; /* Blue color for loader */
}

.error-message {
color: red; /* Red color for error messages */
text-align: center; /* Center the error message */
}

.no-results {
text-align: center; /* Center the no results message */
color: #555; /* Gray color for no results */
}

.go-to-top-button {
  position: fixed; /* Fixed position */
  bottom: 80px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color:rgb(53, 53, 53); /* Button color */
  color: white; /* Icon color */
  border: none; /* No border */
  border-radius: 50%; /* Circular button */
  width: 60px; /* Width */
  height: 60px; /* Height */
  display: flex; /* Center the icon */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transition: background-color 0.3s; /* Smooth transition */
}

.go-to-top-button:hover {
  background-color: #98c6e2;
}
/* Styles for the detection button */
.detect-button {
  background-color: rgb(53, 53, 53);
  color: white;
  border: none;
  border-radius: 30px; /* Rounded corners */
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.detect-button:hover {
  background-color: #b0ccf1; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

/* Styles for the notification message */
.notification {
  
  color: #ffcc00; /* Yellow text */
  border: 1px solid #ffcc00; /* Yellow border */
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  font-size: 14px;
}

/* Styles for sensitive snippets */
.sensitive-snippets {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #444; /* Dark border */
  border-radius: 8px;

}

/* Styles for each sensitive snippet */
.sensitive-snippet {
  margin-bottom: 10px;
  padding: 6px;
  background-color: #606467be;
  border-radius: 5px;
}

/* Styles for the "View Full Post" link */
.view-post-link {
  color: #98c6e2; /* Green link color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.view-post-link:hover {
  color: #d6d9d7; /* Darker green on hover */
}

/* Styles for the "No sensitive posts detected" message */
.no-sensitive-posts {
  color: #b0b0b0; /* Light gray text */
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}

.sensitive-warning{
  background-color: #fff3cd; /* Light yellow background */
  color: #856404; /* Dark yellow/brown text */
  border: 1px solid #ffeeba; /* Light yellow border */
  border-radius: 5px; /* Rounded corners */
  padding: 15px; /* Padding around the text */
  margin: 20px 0; /* Margin above and below the message */
  display: flex; /* Flexbox for icon and text alignment */
  align-items: center; /* Center items vertically */
}


/* Responsive Layout for smaller screens */
@media (max-width: 1024px) {
  .dashboard {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}
